name: Deploy Dev Branch

on:
  push:
    branches: [ dev ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/lynx-backend:dev
        platforms: linux/amd64

    - name: Copy Docker Compose file to EC2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "docker-compose.prod.yml"
        target: "/home/ubuntu/"

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/ubuntu
          
          # 1. 기존 .env 안전하게 재생성
          rm -f .env
          echo "${{ secrets.PROD_ENV_FILE }}" > .env
          echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}" >> .env
          
          # 2. 파일명 변경
          mv /home/ubuntu/docker-compose.prod.yml /home/ubuntu/docker-compose.yml
          
          # 3. 최신 이미지 받기 및 실행
          sudo docker pull ${{ secrets.DOCKER_USERNAME }}/lynx-backend:dev
          
          # (4) 꼬임 방지를 위해 끄고 다시 켬
          sudo docker compose down
          sudo docker compose up -d
          
          # (5) 안 쓰는 이미지 청소
          sudo docker image prune -f